*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  font-family: inherit;
}

:root {
  --dark-blue: hsl(229, 25%, 31%);
  --blue: hsl(229, 64%, 46%);
  --gray: hsl(217, 16%, 45%);
  --gradient-lighter: hsl(214, 47%, 23%);
  --gradient-darker: hsl(237, 49%, 15%);
}

body {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

body {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: #242b37;
}
